@import "src/assets/style/_variable.scss";

.tooltip {
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 20px;
  font-size: 14px;
  opacity: 0;
  transform: translateX(200px);
  border-radius: 10px;
  z-index: 20;

  &__error {
    background: map-get($colors, red);
  }

  &__success {
    background: map-get($colors, green);
  }

  &__warning {
    background: map-get($colors, orange);
  }

  &__open {
    opacity: 1;
    transform: translateX(0);
  }
}